:root{
    --primary: #2fabb9;
    --secondary: #3dedc4;
    --white: #fff;
    --whiteRGB: 255,255,255;
    --white_trans: rgba( var(--whiteRGB) ,0.6);
    --black: rgba(0,0,0,1);
    --blackRGB: 0,0,0;
    --black_trans: rgba( var(--blackRGB) ,0.6);
    --dark: #040404;
    --darker: #0e0e0e;
    --light: #f4f4f4;
    --light_hover: #D8D8D8;
    --grey: #ccc;
    --darkgrey: #404040;
    --error: #f00;
    --success: #398f14;
    --facebook: #3b5998;
    --twitter: #55acee;
    --whatsapp: #26B33D;
    --pinterest: #BC2125;
    --google: #DC4E41;
    --youtube: #E52C27;
    --primaryFont: 'Montserrat';
    --secondaryFont: 'Comfortaa';  
}


.grey{
  background: var(--light);
}

.white{
  background: var(--white);
}

.shadow{
  box-shadow: 0px 10px 10px -10px rgba(var(--blackRGB),0.5);
}

.margintop{
  margin-top: 80px;
}

.container{
  padding-top: 15px;
  padding-bottom: 15px;
}

.thumbnail,.btn{
  border-radius: 0;
}

/*position-pictures-centrally*/
.img-wrap{
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

.img-wrap img{
  position: absolute;
 inset: -100%;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.img-wrap img:hover,.img-wrap img:focus{
  -webkit-transform: scale(2);
     -ms-transform: scale(2);
         transform: scale(2);
         cursor: zoom-in;
}
/*position-pictures-centrally*/
